* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
    background-image: url(./assets/indexbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 8em;
    margin-bottom: -10px;
    top: -30px;
    position: relative;
}

h3 {
    text-transform: uppercase;
}

.quest-link {
    display: block;
    text-transform: capitalize;
}

#image{
    height: 300px;
}


/* STYLING INDEX */

.index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background: yellow; */
}

.character-information {
    align-self: center;
    display: flex;
    padding: 50px;
    /* width: 80%; */
    /* margin: 20%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(255,255,255,0.85); */

    border-radius: 20px;
    /* border: 3px blue solid; */
}

.character-radio-buttons {
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px 0;
}

.input-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 200px;
    height: 30px;
    
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    transition: 0.2s all linear;
    outline: none;
    padding: 0 5px 0 5px;
    font-size: .8em;
    text-align: center;
    margin: 10px 0 30px 0;
    color: #fff;
    
    position: relative;
    top: 2px;
}

a {
    color: #fff;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

.input-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, .5);
}

button {
    padding: 6px;
    text-transform: uppercase;
    /* margin: 30px auto 30px auto; */
    
    color: #652a9b;
    font-weight: 600;
    display: block;
    border: 2px solid #fff;
    background: #fff;
    font-size: .8em;
    outline: none;
    border-radius: 5px;
}

button:hover {
    background: #652a9b;
    color: #fff;
    border-color: #652a9b;
}

button:active {
    transform: translateY(1px);
}

.radio {
    margin-right: 5px;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 50%;
    width: 16px;
    height: 16px;
    
    border: 2px solid #fff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    
    position: relative;
    top: 2px;
}

input:checked {
    border: 6px solid #652a9b;
}